---
- name: Déployer Nginx et une page web
  hosts: webservers
  become: yes
  gather_facts: yes
  
  tasks:
    - name: Attendre que le système soit prêt
      wait_for_connection:
        timeout: 300
    
    - name: Mettre à jour le cache APT
      apt:
        update_cache: yes
        cache_valid_time: 3600
      retries: 3
      delay: 10
    
    - name: Installer Nginx
      apt:
        name: nginx
        state: present
    
    - name: Vérifier si Nginx est démarré
      systemd:
        name: nginx
        state: started
        enabled: yes
    
    - name: Copier la page web personnalisée depuis un fichier
      copy:
        src: index.html
        dest: /var/www/html/index.html
        mode: '0644'
    
    - name: Redémarrer Nginx pour appliquer les changements
      systemd:
        name: nginx
        state: restarted
    
    - name: Afficher les informations réseau
      shell: ip addr show
      register: network_info
    
    - name: Afficher les IPs
      debug:
        var: network_info.stdout_lines
